* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;

    background-image: url('./wave.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #FF6A59;
}

.full-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 19px 38px rgb(0 0 0 / 30%), 0 15px 12px rgb(0 0 0 / 22%);
    background-color: white;
    padding: 3vw 5vw;
    margin: 5vw;

    -webkit-transition: width 2s ease-in-out;
    -moz-transition: width 2s ease-in-out;
    -o-transition: width 2s ease-in-out;
    transition: width 2s ease-in-out;
}

.container {
    display: flex;
    flex-direction: column;
}

.container select {
    height: fit-content;
    margin-left: 1vw;
}

form button {
    outline: none;
    border: none;

    margin: 2vw 0;
    padding: 0.5vw 0;
    background: #CC5547;
    color: white;
}

form button:disabled,
form button[disabled] {
    background-color: #cccccc;
    color: #666666;
}

.organ-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.organ-selector h4 {
    margin-right: 1vw;
}

option:checked {
    background-color: #FFAFA6;
}

.display {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 27vw;
    width: 70vw;
}

.loading {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 20vw;
    background-image: url('https://www.maxhealthcare.in/img/loader-rolling.gif');
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row>img {
    width: 12.5vw;
    height: 13vw;
    margin-right: 1vw;
}