<!DOCTYPE html>
<html>
<header>
    <meta charset="UTF-8">
    <title>FTUs Identifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='theme.css' ) }}">
</header>

<body>
    {% block title %}{{ title }}{% endblock %}
    <h1>Identificacion de celulas</h1>

    <form class="container" method="POST" action="" enctype=multipart/form-data>
        <div class="organ-selector">
            <h3>Seleccione el organo:</h3>
            <select name="organ_select">
                {% for organ in organs %}
                <option value={{organ}} selected>{{ organ }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="organ-selector">
            <h4>Subir celula</h4>
            <input type="file" name="file"></input>
        </div>
        <button type="submit">Procesar</button>
    </form>

    <div class="display">
        <image id="prediction" src="https://www.oas.org/ext/Portals/14/EasyDNNnews/1806/Image.jpg" alt="resultado" />
    </div>
</body>

</html>