<!DOCTYPE html>
<html>
<header>
    <meta charset="UTF-8">
    <title>FTUs Identifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='theme.css' ) }}">
</header>

<body>
    {{ title }}
    <h1>Identificacion de celulas</h1>
    <div class="container">
        <div class="organ-selector">
            <h3>Seleccione el organo:</h3>
            <select>
                <option value="kidney">Riñon</option>
                <option value="lung">Pulmon</option>
                <option value="largeintestine">Intestino grueso</option>
                <option value="prostate">Prostata</option>
                <option value="spleen">Bazo</option>
            </select>
        </div>
        <div class="organ-selector">
            <h4>Subir celula</h4>
            <input type="file" id="uploadOrgan"></input>
        </div>
        <button type="button">Procesar</button>
    </div>
    <div class="display">
        <image id="prediction" src="https://www.oas.org/ext/Portals/14/EasyDNNnews/1806/Image.jpg" alt="resultado" />
    </div>
</body>

</html>